// Extra small screens (less than 576px)

@include responsive("xs") {
  .xs-hide {
    @include responsive-display("hide");
  }
  .xs-show {
    @include responsive-display("show");
  }
}

// Small screens (576px - 767.98px)
@include responsive("sm") {
  .sm-hide {
    @include responsive-display("hide");
  }
  .sm-show {
    @include responsive-display("show");
  }
}

// Medium screens (768px - 991.98px)
@include responsive("md") {
  .md-hide {
    @include responsive-display("hide");
  }
  .md-show {
    @include responsive-display("show");
  }
}

// Large screens (992px - 1199.98px)
@include responsive("lg") {
  .lg-hide {
    @include responsive-display("hide");
  }
  .lg-show {
    @include responsive-display("show");
  }
}

// Extra large screens (1200px and up)
@include responsive("xl") {
  .xl-hide {
    @include responsive-display("hide");
  }
  .xl-show {
    @include responsive-display("show");
  }
}

.svg {
  &-1 {
    svg {
      color: $neutral;
      width: 32px;
      height: 32px;

      path {
        stroke: $neutral;
      }
    }
  }
  &-2 {
    svg {
      color: $primary;
      width: 64px;
      height: 64px;

      path {
        fill: $neutral;
      }
    }
  }
}

.box {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);

  &-2 {
    box-shadow: 0px 4px 64px 0px #00197314;
  }
  &-3 {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
}
